<section class="rv-forgot-bg">
  <div class="rv-box2">
    <div class="rv-box2-container">
      <div class="rv-head2-logo">
        <h1 class="zns-heading-1 fw-600">R-ventory</h1>
      </div>

      <h1 class="zns-heading-4 fw-600 fyp">Forgot Your Password?</h1>

      <p class="zns-para-1 fw-500 read">
        Just put in your email address and we’ll do the rest
      </p>

      <div class="email-form">
        <form>
          <div class="col-12">
            <div class="input-style1">
              <input text="email" placeholder="esther@gmail.com" id="email" name="email" />
            </div>
          </div>

          <button matRipple class="btn zns-btn-primary zns-btn-md mb-4">
            Submit
          </button>
        </form>
      </div>

      <a href="" class="back-to-login">Back to Login
         <span class="hover-line"></span>
      </a>
      
    </div>
  </div>
</section>
