@use 'media-query' as *;
@use 'theme' as *;

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Thin'), local('GreycliffCF-Thin'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-Thin.woff2) format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Extra Light'), local('GreycliffCF-ExtraLight'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-ExtraLight.woff2) format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Light'), local('GreycliffCF-Light'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-Light.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Demi Bold'), local('GreycliffCF-DemiBold'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-DemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Extra Bold'), local('GreycliffCF-ExtraBold'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-ExtraBold.woff2) format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Greycliff CF';
  font-display: swap;
  src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
    url(/assets/fonts/GreycliffCF/GreycliffCF-Heavy.woff2) format('woff2');
  font-weight: 900;
}

// .zns-display-1 {
//   font-size: 4.5rem;
//   color: var(--zns-black);
// }

// .zns-display-2 {
//   font-size: 3.75rem;
//   color: var(--zns-black);
// }

.zns-heading {
  font-size: 4rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 2.225rem;
  }
}

.zns-heading-1 {
  font-size: 3rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 2.125rem;
  }
}

.zns-heading-2 {
  font-size: 2.5rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 2.0625rem;
  }
}

.zns-heading-3 {
  font-size: 2.0625rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 1.75rem;
  }
}

.zns-heading-4 {
  font-size: 1.75rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 1.4375rem;
  }
}

.zns-heading-5 {
  font-size: 1.4375rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 1.1875rem;
  }
}

.zns-heading-6 {
  font-size: 1.1875rem;
  color: var(--zns-black);

  @include zns-media-query-max(zns-md) {
    font-size: 1rem;
  }
}

.zns-sub-heading {
  font-size: 1.25rem;
  color: var(--zns-black);
}

.zns-para-3 {
  font-size: 1.125rem;
  color: var(--zns-black);
}

.zns-para-2 {
  font-size: 1rem;
  color: var(--zns-black);
  margin-bottom: 0;
}

.zns-para-1 {
  font-size: 0.875rem;
  color: var(--zns-black);
}

.zns-para {
  font-size: 0.625rem;
  margin-bottom: 0;
}

.zns-caption {
  font-size: 0.75rem;
  color: var(--zns-black);
  margin-bottom: 0;
}

.zns-footer {
  font-size: 0.25rem;
  color: var(--zns-black);
}

/*** Font Weight ***/

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fi {
  font-style: italic;
}

/*******************/
