#rv-sidebar {
  .rv-sidenav {
    background: #ffffff;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    // box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

    .rv-logo-container {
      display: flex;
      align-items: center;
      padding: 0.938rem 0.938rem 0 0.938rem;
      width: 100%;

      .rv-logo {
        background: #fff;
        text-align: center;
        width: 3rem;
        min-width: 3.5rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 1.5rem;
        font-weight: 900;
        cursor: pointer;
        border: 2px solid rgb(222, 177, 177);
      }

      .rv-logo-text {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #242424;
      }

      .rv-btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;

        .rv-icon {
          color: #575757;
          font-size: 1.5rem;
        }
      }
    }
  }

  .rv-sidenav-collapsed {
    width: 16.5625rem;
  }

  .rv-sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);

    .rv-sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;

      .rv-sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: #575757;
        text-decoration: none;
        border-radius: 0.625rem;
        transition: color 0.3s ease;

        .rv-sidenav-link-icon {
          font-size: 1.375rem;
          width: 2rem;
          min-width: 2rem;
          margin: 0 0.5rem;
          text-align: center;

          .rv-sidenav-link-text {
            margin-left: 1.5rem;
          }
        }
      }
    }

    .rv-sidenav-nav-item:hover {
      .rv-sidenav-nav-link {
        // border: 1px solid #1b1a1a;
        box-shadow: 0.063rem 0 0.25rem 0 #8690a3;
        color: #000;
      }
    }
  }

  .active {
    // background-color: #1b1a1a;
    // box-shadow: 0.063rem 0 0.25rem 0 #8690a3;
    .rv-sidenav-link-icon,
    .rv-sidenav-link-text {
      color: #000;
    }
  }

  .material-icons.rv-sidenav-link-icon,
  .icon {
    margin-right: 1rem;
  }
  .inner-links {
    margin-bottom: 1rem;
    & a:hover {
      color: #060606;
    }

    & a {
      text-decoration: none;
      margin-left: 2rem;
      font-weight: 400;
      font-size: 0.9rem;
      color: #575757;
    }
  }
  a {
    cursor: pointer;
  }

  .mat-expansion-panel {
    border: none;
    box-shadow: none;
  }
}
