<h1>R-ventory</h1>
<div class="sidebar-link">
  <div>
    <mat-icon>dashboard</mat-icon>
  </div>
  <div>
    <span> Dashbord</span>
  </div>
</div>

<div class="sidebar-link">
  <div>
    <mat-icon> local_atm</mat-icon>
  </div>
  <div>
    <span> Sales Module</span>
  </div>
</div>

<div class="sidebar-link">
  <div>
    <mat-icon>assessment</mat-icon>
  </div>
  <div>
    <span> Procurement Module</span>
  </div>
</div>

<div class="sidebar-link">
  <div>
    <mat-icon>people_outline</mat-icon>
  </div>
  <div>
    <span> Inventory Module</span>
  </div>
</div>
