.zns-chip {
  font-size: 0.75rem !important;
  color: var(--zns-primary-color) !important;
  padding: 0.25rem !important;
  min-height: unset !important;
  height: unset !important;
  background: var(--zns-primary-color-50) !important;
  border-radius: 0.25rem !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

  &:hover {
    opacity: 1 !important;
  }

  &.mat-chip.mat-standard-chip .mat-chip-remove {
    opacity: 1 !important;
  }
}
