@use '../abstracts/theme' as *;

.mat-tab-header {
  border-bottom: none !important;
}

.mat-tab-labels {
  gap: 1.375rem !important;
}

.mat-tab-label,
.mat-tab-link {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  color: var(--zns-neutral-400) !important;
  opacity: 1 !important;
}

.mat-tab-label {
  padding: 0rem !important;
  height: 2.5rem !important;
  padding: 0rem 0.09375rem !important;
  min-width: 3.125rem !important;
  border-top-left-radius: 0.1875rem !important;
  border-top-right-radius: 0.1875rem !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1) !important;
  -o-transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1) !important;
  transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1) !important;
}

.mat-tab-label-active {
  color: var(--zns-primary-color) !important;
}

.mat-ink-bar {
  height: 0.25rem !important;
  border-top-left-radius: 0.1875rem !important;
  border-top-right-radius: 0.1875rem !important;
}
